<app-game-control (startEvent)="OnEventStart($event)"></app-game-control>

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <div *ngFor="let number of numberArray">
        <app-odd *ngIf="number%2 != 0" [oddnumber]="number"></app-odd>
      </div>
    </div>
    <div class="col-xs-6">
        <div *ngFor="let number of numberArray">
            <app-even *ngIf="number%2 == 0" [evennumber]="number"></app-even>
          </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>